#register-button {
border: 2px solid;
border-radius: 25px;
height: 25px;
padding: 10x 40x;
background-color: yellow;
}
#banner {
background-color: blue;
border: 0px outset;
}
h1 {
font-family: tahoma;
font-style: sans-serif;
}
h2 {
font-family: tahoma;
font-style: sans-serif;
}
h3 {
font-family: tahoma;
font-style: sans-serif;
}
h4 {
font-family: tahoma;
font-style: sans-serif;
}
h5 {
font-family: tahoma;
font-style: sans-serif;
}
h6 {
font-family: tahoma;
font-style: sans-serif;
}
p {
font-family: tahoma;
font-style: sans-serif;
}
body {
font-family: tahoma;
font-style: sans-serif;
}
